<log4net>
  <!-- 错误日志类-->
  <logger name="logtrade">
    <level value="ALL" />
    <appender-ref ref="TradeAppender" />
  </logger>
  <!-- 信息日志类 -->
  <logger name="loginfo">
    <level value="ALL" />
    <appender-ref ref="InfoAppender" />
  </logger>



  <!-- 错误日志附加介质-->
  <appender name="TradeAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="Log\\Trade\\" />
    <param name="AppendToFile" value="true" />
    <param name="StaticLogFileName" value="false" />
    <param name="DatePattern" value="yyyyMMdd-HHmm&quot;.log&quot;" />
    <param name="RollingStyle" value="Date" />


    <!--布局-->
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%date [%thread] %-5level %logger [%property{NDC}] line:%L - %message %n"  />
    </layout>
  </appender>
  <!-- 信息日志附加介质-->
  <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
    <file value="Log\\LogInfo\\"  />
    <appendToFile value="true" />
    <staticLogFileName value="false" />
    <rollingStyle value="Composite" />
    <datePattern value="yyyyMMdd" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="1MB" />
    <!-- 信息日志布局-->
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern  value="%date [%thread] %-5level %logger [%property{NDC}] line:%L %F - %message %n"  />
    </layout>
  </appender>
</log4net>
